*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(66, 89, 173);
    display: flex;
    gap:10px
}
body::before{
    content: "";
}


.container{
    border:3px solid #2b2b2d;
    background-color: aliceblue;
    border-radius: 5px;
    width: 800px;
    margin: 50px auto;
    text-align: center;
}
.container p{
    border-bottom: 1px dashed #2b2b2d;
    padding: 5px 0;
}

input{
    width: 300px;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
input:focus{
    border: none;
    outline: none;
}
button{
    width: 40px;
    height: 40px;
    padding: 5px;
    font-weight: bold;
    font-size: 22px;
    background-color: #2b2b2d;
    color: aliceblue;
    margin: 0 5px;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 50%;
}
button:hover{
    background-color: #f18a23;
    color: black;
}
section{
    background-color: green;
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
}
section > *{
    border:3px solid #2b2b2d;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}
/* 
.change-color-tool{
    text-align: center;
} */

/* MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - */
@media (width < 600px)  {
    body{
      background: rgb(212, 74, 97);
    }
    .container{
        border:3px solid #2b2b2d;
        background-color: aliceblue;
        border-radius: 5px;
        width: 300px;
        margin: 50px auto;
        text-align: center;
        min-height: 80vh;
    }
    input{
        width: 150px;
        padding: 10px;
        margin: 20px 0;
        border: none;
        border-radius: 5px;
        font-size: 14px;
    }
    input:focus{
        border: none;
        outline: none;
    }
    button{
        width: 30px;
        height: 30px;
        padding: 5px;
        font-weight: bold;
        font-size: 22px;
        background-color: #2b2b2d;
        color: aliceblue;
        margin: 0 5;
        outline: none;
        border: none;
        text-align: center;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: auto;
    }
    button:active{
        background-color: #f18a23;
        color: black;
    }
    label{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: auto;
    }
  }
